# Editor configuration, see http://editorconfig.org
# webstorem 内置，而其他编辑器 vscode、ATOM、Sublime 需要安装插件
# 使用 打开需要格式化的文件并手动格式化代码 ( shift + alt + f )
root = true

[*] #
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
