name: Tests

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['14', '16', '17']

    steps:
      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.15.1

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Installation
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/coverage-final.json,coverage/clover.xml
          flags: unittests
          fail_ci_if_error: true
          verbose: true
          version: 'v0.1.15'
